<div class="text-center m-5">
  <h1>にゃんこ一覧</h1>
</div>

<section class="section">
  <div class="row">
    <% @cats.each do |cat| %>
      <div class="col-sm-4 mb-4">
        <div class="card text-center">
          <div class="card-image-top">
            <figure class="image">
              <% if cat.images.order(:id)[0].present? %>
                <%= link_to cat_path(cat) do %>
                  <%= image_tag cat.images.order(:id)[0].profile_cat_image.variant(combine_options:{gravity: :center, resize:"1000x600^", crop:"1000x600+0+0"}).processed, class: "cat_image",
                  alt: cat.images.order(:id)[0].alt_text %>
                <% end %>
              <% end %>
            </figure>
          </div>
          <div class="card_body mb-3">
            <div class= "row ml-3 mb-2">
              <div class="col-2 offset-1 col-sm-2 p-0">
                <div class="">
                  <% if cat.user.profile_image.attached? %>
                    <%= link_to user_path(cat.user) do %>
                      <%= image_tag cat.user.profile_image.variant(combine_options:{gravity: :center, resize:"1000x1000^", crop:"1000x1000+0+0"}).processed, class: "profile_image" %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="col-3 col-sm-4 mt-2 ml-1 p-0 h4 text-left">
                <%= link_to cat.user.name, user_path(cat.user) %>
              </div>
              <div class="col-3 col-sm-3 mt-2 p-0">
                <%# if current_user.favorited?(cat) %>
                  <%#= form_with(model: current_user.favorites.find_by(cat_id: cat.id), local: true, method: :delete) do |f| %>
                    <%= hidden_field_tag :cat_id, cat.id %>
                    <%= button_tag type: 'submit', class: 'text-danger btn btn-link p-0' do %>
                      <i class="fas fa-heart fa-lg faa-pulse animated"></i>
                    <% end %>
                  <%# end %>
                <%# else %>
                  <%#= form_with(model: current_user.favorites.build, local: true) do |f| %>
                    <%= hidden_field_tag :cat_id, cat.id %>
                    <%= button_tag type: 'submit', class: 'text-primary btn btn-link p-0' do %>
                      <i class="fas fa-heart fa-lg"></i>
                    <% end %>
                  <%# end %>
                <%# end %>
              </div>
            </div>
            <div>
              <time><%= cat.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @cats %>
  </div>
</section>